<fieldset>
  <legend>{{ name }}</legend>
  <div class="form-group">
    <label for="sheet-name">Character Name</label>
    <input
      class="form-control"
      id="sheet-name"
      type="text"
      name="name"
      value="{{ sheet.name }}"
    />
  </div>
  <div class="form-group">
    <label for="sheet-race">Race</label
    ><select
      class="form-control"
      name="race"
      id="race"
      value="{{ sheet.race }}"
    >
      <option value="Dragonborn">Dragonborn</option>
      <option value="Dwarf">Dwarf</option>
      <option value="Elf">Elf</option>
      <option value="Gnome">Gnome</option>
      <option value="Orc">Orc</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sheet-class">Class</label>
    <select
      class="form-control"
      name="class"
      id="sheet-class"
      value="{{ sheet.class }}"
    >
      <option value="Barbarian">Barbarian</option>
      <option value="Bard">Bard</option>
      <option value="Cleric">Cleric</option>
      <option value="Druid">Druid</option>
      <option value="Fighter">Fighter</option>
      <option value="Monk">Monk</option>
      <option value="Paladin">Paladin</option>
      <option value="Ranger">Ranger</option>
      <option value="Rogue">Rogue</option>
      <option value="Sorcerer">Sorcerer</option>
      <option value="Warlock">Warlock</option>
      <option value="Wizard">Wizard</option>
      <option value="Artificer">Artificer</option>
      <option value="Blood Hunter">Blood Hunter</option>
    </select>
  </div>
  {% if sheet.class == "Sorcerer" %}
  <div class="form-group">
    <label for="sheet-sub_class">Sub-Class</label
    ><select
      class="form-control"
      name="sub_class"
      value="{{ sheet.sub_class }}"
      id="sorc-subclass"
    >
      <option value="Divine Soul">Divine Soul</option>
      <option value="Draconic Bloodline">Draconic Bloodline</option>
      <option value="Phoenix Sorcery">Phoenix Sorcery</option>
      <option value="Sea Sorcery">Sea Sorcery</option>
      <option value="Shadow Magic">Shadow Magic</option>
      <option value="Stone Sorcery">Stone Sorcery</option>
      <option value="Wild Magic">Wild Magic</option>
      <option value="Giant Soul">Giant Soul </option>
      <option value="Pyromancy">Pyromancy</option>
    </select>
  </div>
  {% endif %}
  <div class="form-group">
    <label for="sheet-level">Character Level</label
    ><input class="form-control" type="number" min="1" max="20" value="{{sheet.level}}"/>
  </div>
  <div class="form-group">
    <label for="sheet-alignment">Alignment</label
    ><select class="form-control" value="{{ sheet.alignment }}">
      <option value="Lawful Good">Lawful Good</option>
      <option value="Lawful Neutral">Lawful Neutral</option>
      <option value="Lawful Evil">Lawful Evil</option>
      <option value="Neutral Good">Neutral Goo</option>
      <option value="True Neutral">True Neutral</option>
      <option value="Neutral Evil">Neutral Evil</option>
      <option value="Chaotic Good">Chaotic Good</option>
      <option value="Chaotic Neutral">Chaotic Neutral</option>
      <option value="Chaotic Evil">Chaotic Evil</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sheet-background">Your background</label
    ><select value="{{sheet.background}}" class="form-control">
      <option value="Acolyte">Acolyte</option>
      <option value="Charlatan">Charlatan</option>
      <option value="Criminal">Criminal</option>
      <option value="Entertainer">Entertainer</option>
      <option value="Folk Hero">Folk Hero</option>
      <option value="Guild Artisan">Guild Artisan</option>
      <option value="Hermit">Hermit</option>
      <option value="Outlander">Outlander</option>
      <option value="Noble">Noble</option>
      <option value="Sage">Sage</option>
      <option value="Sailor">Sailor</option>
      <option value="Soldier">Soldier</option>
      <option value="Urchin">Urchin</option>
  </select>
  <div class="form-group">
    <label for="sheet-static_prof">Flat Proficency Bonus</label
    ><input value="{{ sheet.static_prof }}" class="form-control" type="number" />
  </div>
  <div class="form-group">
    <label for="sheet-prof_die">Proficency Die Type</label
    ><select value="{{ sheet.prof_die }}" class="form-control" >
      <option value="d4">1d4</option>
      <option value="d6">1d6</option>
      <option value="d8">1d8</option>
      <option value="d10">1d10</option>
      <option value="d12">1d12</option>
      <option value="d20">1d20</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sheet-courage">Courage</label
    ><input value="{{ sheet.courage }}" class="form-control" type="number" min="0" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-inspiration">Inspiration</label
    ><input value="{{ sheet.inspiration }}" class="form-control" type="number" min="0" max="20"/>
  </div>
  <div class="form-group">
    <label for="sheet-strength">Strength</label
    ><input value="{{ sheet.strength }}" class="form-control" type="" min="1" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-dexterity">Dexterity</label
    ><input value="{{ sheet.dexterity }}" class="form-control" type="number" min="1" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-constitution">Constitution</label
    ><input value="{{ sheet.constitution }}" class="form-control" type="number" min="1" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-intelligence">Intelligence</label
    ><input value="{{ sheet.intelligence }}" class="form-control" type="number" min="1" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-wisdom">Wisdom</label
    ><input value="{{ sheet.wisdom }}" class="form-control" type="number" min="1" max="20" />
  </div>
  <div class="form-group">
    <label for="sheet-charisma">Charisma</label
    ><input value="{{ sheet.charisma }}" class="form-control" type="number" min="1" max="20" />
  </div>
  <!-- <div class="form-group">
    <label for="sheet-armor_training">Armor Training</label
    ><input value="{{ sheet.armor_training }}" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-combat_training">Combat Training</label
    ><input value="{{ sheet.combat_training }}" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-weapon_prof">Weapon Proficiencies</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-armor_class">Armor Class</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-max_hp">Max Hp</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-hit_die_type">Hit Die Type</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-max_hit_die">Max Hit Die</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-hit_die_remaining">Hit Die Remaining</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-death_saves">Death Saves</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-varient_points">Varient Points</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-xp">XP</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-initative_bonus">Initative Bonus</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-speed">Speed</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-feats">Feats</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-racial_traits">Racial Traits</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-languages">Languages</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-height">Height</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-class_feats">Class Feats</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-multiclass">Multiclass this character?</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-appearance">Insert image of character</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-symbol">Sigil/Symbol/Brand</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-backstory">Wha't your story?</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-friends">Friends</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-family">Family</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-foes">Foes</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-personality_traits">Personality Traits</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-ideals">Ideals</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-bonds">Bonds</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-flaws">Flaws</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-copper">Copper</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-silver">Silver</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-gold">Gold</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-platinum">Platinum</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-mythril">Mythril</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-backpack">Backpack Inventory</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-storage">Stored Inventory</label
    ><input value="" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="sheet-accessible">Worn/Weilded Items</label
    ><input value="" class="form-control" type="text" />
  </div> -->
</fieldset>
