* {
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 15vh;
}

/* footer */
footer {
  border: 1px solid black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 15vh;
  background-color: aliceblue;
  /* background-image: url("/static/assets/1920x1200-px-anime-pixel-art-pixels-pokemon-pokemon-trainers-sports-football-hd-art-wallpaper-thumb.jpg"); */
  background-size: 73vw;
  background-position-x: 0em;
  background-position-y: 90%;
}

footer .row {
  margin-top: 4vh;
}

.fab {
  font-size: 9vh;
}
