{% extends 'base.html' %} {% block content %}
<a href='/'>Back to the Forge</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 item-col'>
        <h1>{{ sheet.name }} - lv: {{sheet.level}}</h1>
        <p>{{ sheet.class }}</p>
        <!-- <p><a href='/sheets/{{ sheet._id }}/edit'>Edit</a></p> -->
        <h3>-Stats-</h3>
        <p>Strength: {{ sheet.strength }}</p>
        <p>Dexterity: {{ sheet.dexterity }}</p>
        <p>Constitution: {{ sheet.constitution }}</p>
        <p>Intelligence: {{ sheet.intelligence }}</p>
        <p>Wisdom: {{ sheet.wisdom }}</p>
        <p>Charisma: {{ sheet.charisma }}</p>
        <button class='btn btn-primary' type="submit"><a href='/sheets/{{ sheet._id }}/edit'>Edit</a></button>
        <p><form method='POST' action='/sheets/{{ sheet._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>

    </div>
</div>
{% endblock %}