{% extends 'base.html' %} {% block content %}
<a href='/'>Back to the Forge</a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 item-col'>
        <h1>{{ sheet.name }}</h1>
        <!-- <p><a href='/sheets/{{ sheet._id }}/edit'>Edit</a></p> -->
        <button class='btn btn-primary' type="submit"><a href='/sheets/{{ sheet._id }}/edit'>Edit</a></button>
        <p><form method='POST' action='/sheets/{{ sheet._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>

    </div>
</div>
{% endblock %}